<div class="container">
    <div class="row">
      <div class="col-xs-12">
      
        <ul>
          <div class="example-button-row">
        <button *ngIf="(user.role=='lead')"
        mat-raised-button
        [routerLink]="['/boxingClubs/add']">
          добавить боксерский клуб
        </button>
          </div>
          <li class="list-group-item" *ngFor="let item of boxingClubs">
            <p>
              {{ item.clubName }} | {{ item.clubAddress }} 
            </p>
            <div class="example-button-row">
            <button
              *ngIf="(user.role=='lead')"
              [routerLink]="['/boxingClubs', item.boxingClubId]"
              mat-raised-button
            >
              изменить
            </button>
            </div>
            <div class="example-button-row">
            <button
              *ngIf="(user.role=='lead')"
              mat-raised-button 
              color="warn"
              (click)="deleteBoxingClub(item.boxingClubId)"
            >
              Удалить
            </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  