
  <div class="text-center">
  <h1 class="display-4 title-on-home-page">
    Добро пожаловать
  </h1>
  <p>Для регестрации подойдите к вашему тренеру</p>
  </div>
<!--<div class="text-center">
  <h1 class="display-4 title-on-home-page">
    Привет у нас самые честные соревнования
  </h1>
  <button mat-raised-button routerLink routerLink="/competitions" >Соревнования</button>
  <a mat-raised-button routerLink="/competitions" class="nav-link text-dark by-home" asp-area=""
    ><span class="colortext">Соревнования</span></a
  >
  
</div>-->




