.by-home {
    position: fixed;
    top: 300px;
    left: 30%;
    right: 30%;
    padding: 20px;
    border: 1px solid #7abaff;  
    text-color: #7abaff;
  }
   .title-on-home-page{
       margin: auto; 
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
    
     }
     .colortext {
          color: #7abaff; 
        }