

.by-home {
    position: fixed;
    top: 300px;
    left: 30%;
    right: 30%;
    padding: 20px;
  }
   .title-on-home-page{
       margin: auto; 
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
    
     }
    
    .mat-tab-group {
      margin-bottom : 48px ;
   }
   
        