<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 appBackground [hoverColor]="'blue'" [defColor]="'transparent'">
        Competitions
      </h2>

      <button  *ngIf="user.role=='admin'||user.role=='lead'"
       class="btn btn-success me-2" [routerLink]="['/competitions/add']">
        добавить соревнования
      </button>
      <ul>
        <li class="list-group-item" *ngFor="let item of competitions">
          <p>{{ item.competitionsName }} | {{ item.competitionsAddress }} | Начало: {{item.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>

          <button *ngIf="user.role=='admin'||user.role=='lead'"
            [routerLink]="['/competitions', item.competitionsId]"
            class="btn btn-outline-info me-2"
          >
            изменить
          </button>
          <button *ngIf="user.role=='admin'||user.role=='lead'"
            class="btn btn-outline-danger me-2"
            (click)="deleteCompetition(item.competitionsId)"
          >
            Удалить
          </button>

          <button
          *ngIf="!item.isStarted"
          [routerLink]="['/competitions/boxers/not/participating', item.competitionsId]"
          class="btn btn-outline-info me-2"
        >
          Принять участие 
        </button>

        <button *ngIf="(user.role=='admin'&&!item.isStarted)||(user.role=='lead'&&!item.isStarted)"
        [routerLink]="['/competitions/boxingClub/not/participating', item.competitionsId]"
        class="btn btn-outline-info me-2"
      >
        Добавить боксерские клубы
      </button>
      <button *ngIf="(user.role=='admin'&&!item.isStarted)||(user.role=='lead'&&!item.isStarted)"
      [routerLink]="['/competitions/boxingClub', item.competitionsId]"
      class="btn btn-outline-info me-2"
    >
      удалить боксерские клубы
    </button>

      <button
      *ngIf="!item.isStarted"
      [routerLink]="['/competitions/boxers', item.competitionsId]"
      class="btn btn-outline-info me-2"
    >
      Смотреть участников
    </button>

    <button
    *ngIf="item.isStarted"
    [routerLink]="['/competitions/boxers/comparison', item.competitionsId]"
    class="btn btn-outline-info me-2"
  >
    Жеребьевка
  </button>
        </li>
      </ul>
    </div>
  </div>
</div>
