<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <ul>
      <div class="example-button-row">
      <button  *ngIf="user.role=='admin'||user.role=='lead'"
       mat-raised-button 
       [routerLink]="['/competitions/add']">
        добавить соревнования
      </button>
      </div>
     
        <li class="list-group-item" *ngFor="let item of competitions">
          <p>{{ item.competitionsName }} | {{ item.competitionsAddress }} | Начало: {{item.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
          <div class="example-button-row">
          <button *ngIf="user.role=='admin'||user.role=='lead'"
            [routerLink]="['/competitions', item.competitionsId]"
            mat-raised-button 
          >
            изменить
          </button>
          </div>
          <div class="example-button-row">
          <button 
          
          *ngIf="user.role=='admin'||user.role=='lead'"
          mat-raised-button color="warn"
          (click)="deleteCompetition(item.competitionsId)"
          >
            Удалить
          </button>
          </div>
          <div class="example-button-row">
          <button
          *ngIf="!item.isStarted"
          [routerLink]="['/competitions/boxers/not/participating', item.competitionsId]"
          mat-raised-button 
        >
          Принять участие 
        </button>
        <div class="example-button-row">
        <div class="example-button-row"></div>
        <button *ngIf="(user.role=='admin'&&!item.isStarted)||(user.role=='lead'&&!item.isStarted)"
        [routerLink]="['/competitions/boxingClub/not/participating', item.competitionsId]"
        mat-raised-button 
      >
        Добавить боксерские клубы
      </button>
        </div>
        <div class="example-button-row"></div>
      <button *ngIf="(user.role=='admin'&&!item.isStarted)||(user.role=='lead'&&!item.isStarted)"
      [routerLink]="['/competitions/boxingClub', item.competitionsId]"
      mat-raised-button 
    >
      удалить боксерские клубы
    </button>
          </div>
          <div class="example-button-row">
      <button
      *ngIf="!item.isStarted"
      [routerLink]="['/competitions/boxers', item.competitionsId]"
      mat-raised-button 
    >
      Смотреть участников
    </button>
     </div>
     <div class="example-button-row">
    <button
    *ngIf="item.isStarted"
    [routerLink]="['/competitions/boxers/comparison', item.competitionsId]"
    mat-raised-button 
  >
    Жеребьевка
  </button>
     </div>
        </li>
      </ul>
    </div>
  </div>
</div>
