<h1>{{ id ? "Информация о соревнованиях " + id : "Добавление нового соревнования" }}</h1>
<p>{{ competition | json }}</p>
<hr />

<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <p>Введите название соревнования</p>

      <input
        type="text"
        class="form-control"
        formControlName="competitionsName"
        name="competitionsName"
      />
    </div>

    <div class="form-group">
      <label>Введите Адрес</label>
      <input
        type="text"
        class="form-control"
        formControlName="competitionsAddress"
        name="competitionsAddress"
      />
    </div>

    <div class="form-group">
      <label>Введите время начала</label>
      <input
        type="date:'yyyy-MM-dd HH:mm:ss Z'"
        class="form-control"
        formControlName="startTime"
        name="startTime"
      />
    </div>




    <div 
    *ngIf="id"
    class="form-group">
      <label>Статус соревнований</label>
      <select
        class="form-group"
        class="form-control"
        formControlName="isStarted"
        name="isStarted"
      >
        <option value= {{false}} >Соревнования не начались</option>
        <option value= {{true}} >Соревнования начались</option>
      </select>
    </div>



    

    <hr />

    <button class="btn btn-primary" type="submit">
      {{ id ? "Сохранить" : "Добавить" }}
    </button>
  </form>
</div>
