<h1>{{ id ? "Информация о тренере " + id : "Добавление нового тренера" }}</h1>
<p>{{ coach | json }}</p>
<hr />

<div class="col-xs-8 col-xs-offset-2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <p>Введите Имя</p>

      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        name="firstName"
      />
    </div>

    <div class="form-group">
      <label>Введите Фамилию</label>
      <input
        type="text"
        class="form-control"
        formControlName="lastName"
        name="lastName"
      />
    </div>


    <div class="form-group">
        <label>Введите Отчество</label>
        <input
          type="text"
          class="form-control"
          formControlName="middleName"
          name="middleName"
        />
      </div>


      <div class="form-group">
        <label>Введите спортивное звание</label>
        <input
          type="text"
          class="form-control"
          formControlName="sportsTitle"
          name="sportsTitle"
        />
      </div>


      <div class="form-group">
        <label>Введите ID клуба</label>
        <input
          type="number"
          class="form-control"
          formControlName="boxingClubId"
          name="boxingClubId"
        />
      </div>

    <hr />

    <button class="btn btn-primary" type="submit">
      {{ id ? "Сохранить" : "Добавить" }}
    </button>
  </form>
</div>
