<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2  *ngIf="pageDefinition" appBackground [hoverColor]="'blue'" [defColor]="'transparent'">
        Боксерские клубы которые не участвую в соревнованиях, ID соревнований -
        {{ id }}
      </h2>

      <h2  *ngIf="!pageDefinition" appBackground [hoverColor]="'blue'" [defColor]="'transparent'">
        Боксерские клубы которые участвую в соревнованиях, ID соревнований -
        {{ id }}
      </h2>

      <p *ngIf="boxingClubs.length == 0 && !pageDefinition">
        На этом соревновании не участвует ни одного боксерского клуба
      </p>

      <p *ngIf="boxingClubs.length == 0 && pageDefinition">
        На этом соревновании участвуют все боксерские клубы
      </p>
      <ul>
        <li class="list-group-item" *ngFor="let item of boxingClubs">
          <p>{{ item.clubName }} | {{ item.clubAddress }} |</p>
          <button
            *ngIf="(pageDefinition&&user.role=='admin'&&user.boxingClubId==item.boxingClubId)||(pageDefinition&&user.role=='lead')"
            class="btn btn-outline-info me-2"
            (click)="addBoxingClubInCompetitions(item.boxingClubId)"
          >
            Добавить клуб
          </button>
          <button
            *ngIf="(!pageDefinition&&user.role=='admin'&&user.boxingClubId==item.boxingClubId)||(!pageDefinition&&user.role=='lead')"
            class="btn btn-outline-danger me-2"
            (click)="deleteBoxingClubInCompetitions(item.boxingClubId)"
          >
            удалить клуб
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
