<div class="container">
  <div class="row">
    <div class="col-xs-12">
     
      <ul>
        <div class="example-button-row">
        <button
          *ngIf="
            user.role == 'coach' || user.role == 'admin' || user.role == 'lead'
          "
          mat-raised-button
          [routerLink]="['/boxers/add']"
        >
          добавить боксера
        </button>
        </div>
        <li class="list-group-item" *ngFor="let item of boxers">
          <p>
            {{ item.firstName }} | {{ item.lastName }} |
            {{ item.dateOfBirth | date }}
          </p>
          <div class="example-button-row">
            <button
              *ngIf="
                (user.role == 'coach' && user.coachId == item.coachId) ||
                (user.role == 'admin' &&
                  user.boxingClubId == item.boxingClubId) ||
                user.role == 'lead'
              "
              [routerLink]="['/boxers', item.boxerId]"
              mat-raised-button
             
            >
              изменить
            </button>
          </div>
          <div class="example-button-row">
            <button
              *ngIf="
                (user.role == 'coach' && user.coachId == item.coachId) ||
                (user.role == 'admin' &&
                  user.boxingClubId == item.boxingClubId) ||
                user.role == 'lead'
              "
              mat-raised-button
              color="warn"
              
              (click)="deleteBoxer(item.boxerId)"
            >
              Удалить
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

