<body>
<div class="container">

    <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
    
        <a mat-tab-link 
        routerLink=""
        (click)="activeLink = 'главная'"
        [active]="activeLink == 'главная'"
        >главная</a>

        <a mat-tab-link 
        routerLink="/boxers"
        (click)="activeLink = 'боксеры'"
        [active]="activeLink == 'боксеры'"
        >боксеры</a>
        <a mat-tab-link 
        routerLink="/boxingClubs"
        (click)="activeLink = 'Боксерские клубы '"
        [active]="activeLink == 'Боксерские клубы '"
        >Боксерские клубы </a>
        <a mat-tab-link 
        routerLink="/coach"
        (click)="activeLink = 'Тренеры'"
        [active]="activeLink == 'Тренеры'"
        >Тренеры</a>
        <a mat-tab-link 
        routerLink="/competitions"
        (click)="activeLink = 'Соревнования'"
        [active]="activeLink == 'Соревнования'"
        >Соревнования</a>
        <a *ngIf="!vavidToken"
        mat-tab-link 
        routerLink="/login"
        (click)="activeLink = 'Войти'"
        [active]="activeLink == 'Войти'"
        >Войти</a>
        <a *ngIf="vavidToken"
        mat-tab-link 
        (click)="logout()"
        (click)="activeLink = 'Выйти'"
        [active]="activeLink == 'Выйти'"
        >Выйти</a>
      </nav>
      <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    
    <nav class="navbar navbar-default">
<!-- <table  class="table table-striped">
    <tr class="table-dark">
        <td >
            <a routerLink="" class="list-group-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                <span class="glyphicon glyphicon-user"></span> главная 
            </a>  
    </td>
    <td>
        <a routerLink="/boxers" class="list-group-item" routerLinkActive="active">
            <span class="glyphicon glyphicon-user"></span> боксеры  
        </a>
    </td>
    
    <td>
        <a routerLink="/boxingClubs" class="list-group-item" routerLinkActive="active">
            <span class="glyphicon glyphicon-th-list"></span> Боксерские клубы 
        </a>
    </td>
    <td>
        <a routerLink="/coach" class="list-group-item" routerLinkActive="active">
            <span class="glyphicon glyphicon-th-list"></span>  Тренера  
        </a>
    </td>

    <td>
        <a routerLink="/competitions" class="list-group-item" routerLinkActive="active">
            <span class="glyphicon glyphicon-th-list"></span>  Соревнования  
        </a>
    </td>
    <td *ngIf="!vavidToken">
        <a routerLink="/login" class="list-group-item" routerLinkActive="active">
            <span class="glyphicon glyphicon-th-list"></span>  Войти  
        </a>
    </td>
  <td *ngIf="vavidToken">
        <a routerLink="" class="list-group-item" (click)="logout()">
            <span class="glyphicon glyphicon-th-list"></span>  Выйти  
        </a>
    </td>
      </tr>
</table> -->
</nav>
<router-outlet> </router-outlet>

</div>
</body>
