<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 appBackground [hoverColor]="'blue'" [defColor]="'transparent'">
        Боксеры которые не участвую в соревнованиях, ID соревнований - {{ id }}
      </h2>

      <p *ngIf="competitionBoxers.length == 0">
        На этом соревновании участвуют все боксеры
      </p>
      <ul>
        <li class="list-group-item" *ngFor="let item of competitionBoxers">
          <p>
            {{ item.firstName }} | {{ item.lastName }} |
            {{ item.dateOfBirth | date }} | {{ item.weight }} кг.
          </p>
          <button
            class="btn btn-outline-info me-2"
            (click)="addBoxerInCompetitions(item.boxerId)"
          >
            Принять участие
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
